*{
    margin: 0;
    padding: 0;
}
nav{
display: flex;
align-items: center;
justify-content: space-between;
padding: .5% 8%;
background: darkcyan;
}
.logo img{
    width: 100px;
}
.link ul li{
    display: inline-block;
    margin-right: 18px;
}
.link ul li a{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
.btn button{
    padding: 12px;
    border: 2px solid white;
    outline: none;
    cursor: pointer;
}